* {
  font-family: Lato;
}

label {
  font-size: 14px;
}

canvas {
  width: 700px;
  height: 700px;
  box-sizing: content-box;
  min-width: 700px;
}

#simpex {
  border-left: 1px solid white;
}

.uk-container-large {
  width: 1400px !important;
}
